extends layoutDash
block content
    h2 Welcome to the Agricultural Officer Dashboard
    p As the Agricultural Officer, you have access to the following functions:
    ol
        li Register a FarmerOne officer (F.O) onto the system
        li Create Login credentials for registerd F.O
        li View a list of all F.O in the system
        li Edit & Update F.O phone contact, activities and the ward they represent
    p To get started, click on the menu on the left !
    a(class='btn btn-outline-success btn-md col-7' href='/foRegForm') Get Started