extends layoutAO
block content
    h2 Welcome to the Agricultural Officer Dashboard
    p As the Agricultural Officer, you have access to the following functions:
    ol
        li Register a FarmerOne officer (F.O) onto the system
        li View a list of all F.O in the system
        li Appoint a new F.O for a ward
        li Create and update Login credentials for any F.O in the system
    p To get started, click on the menu on the left !