extends layoutFO
block content
    h2 Welcome to the Farmer One Dashboard
    p As the Farmer One (F.O), you have access to the following functions:
    ol
        li Register a Urban Farmer (U.F) onto the system
        li Create Login credentials for registerd U.F
        li View a list of all U.F in the system
        li Review & Approve farmers produce to be listed in the Ufarm Online Shop
        li View all incoming orders
    a(class='btn btn-outline-success btn-md col-7' href='/ufRegForm') Get Started