extends layoutFrontPage
block content
    div.row.row-cols-2.container-fluid
        div.col-6
            img(src='../images/seedlingPic.png' width='680' height='680' alt='')
        div.col-6.greyBox
            //- Add action & method to connect to backend
            form(name='dashLogin' action='/aoDash' method='POST')
                h5 Please login to access your Ufarm Dashboard
                ul
                    li
                        input.col-md-11.form-control(type='text' name='userid' size='12' placeholder='Enter Username' required)
                        p#usernameAlert
                    li
                        input.col-md-11.form-control(type='password' name='pwd' size='12' placeholder='Enter Password' required)
                        p#pwdAlert
                    li
                        select.col-md-11.form-control(name='selectRole' required)
                            option(selected='' value='default') Select Role
                            option#roleAO(value='AO') Agricultural Officer
                            option#roleFO(value='FO') Farmer One
                            option#roleUF(value='UF') Urban Farmer
                        p#selectAlert
                    button.btn.btn-success.btn-lg.btn-block.col-md-11(type='submit' name='dashboardLogin' value='submit' onclick='validateLogin()')
                        | LOGIN
                div.btmText
                    | Forgot your Username or Password ? 
                    br 
                    | Contact your district LC Agricultural Officer for assistance.