extends layoutFrontPage
block content
    div.row.row-cols-2
        img(src='../images/seedlingPic.png' width='680' height='680' alt='')
        div.col-6.greyBox
            //- Add action & method to connect to backend
            form(name='dashLogin' action='/logIntoDash' method='POST')
                h5 Please login to access your Ufarm Dashboard
                div.input-container
                        i(class='fas fa-user fa-lg fa-fw icon')
                        input.col-md-9.form-control(type='text' name='username' size='12' placeholder='Enter Username' required)
                        p#usernameAlert
                div.input-container
                        i(class='fas fa-key fa-lg fa-fw icon')
                        input.col-md-9.form-control(type='password' name='password' size='12' placeholder='Enter Password' required)
                        p#pwdAlert
                div.input-container
                        i(class='fas fa-id-card fa-lg fa-fw icon')
                        select.col-md-9.form-control(name='role' required)
                            option(selected='' value='default') Select Role
                            option#admin(value='admin') Agricultural Officer
                            option#farmerOne(value='farmerOne') Farmer One
                            option#urbanFarmer(value='urbanFarmer') Urban Farmer
                        p#selectAlert
                div.dashboardLogin
                    button.btn.btn-success.btn-lg.col-md-11(type='submit' name='dashboardLogin' value='submit' onclick='validateSignup()')
                        | LOGIN
                div.btmText
                    | Forgot your Username or Password ? 
                    br 
                    | Contact your district Agricultural Officer for assistance.
                    br
                div.btmText
                    h6 If you are the Agricultural Officer, please sign up first before login
                    a(class='btn btn-outline-success btn-lg btn-block col-md-10' href='/aoSignUp') Sign Up