extends layoutUF
block content
    div(class='regFormDiv')
        h3(class='formTitle') Upload Your Product
        form(class='form-group row' name='productForm' action='/uploadProduct' enctype='multipart/form-data' method='POST')
            .row.col-12
                label(for='productName' class='col-sm-2 col-form-label') Product Name:
                input.col-md-10.form-control(type='text' name='productName' placeholder='Please enter the name of your product' required)
            p(class='alert' id='prodNameAlert')

            .row.col-12
                label(for='image' class='col-sm-2 col-form-label') Product Photo:
                input.col-sm-10(type='file' id='image' name='image' value='' required)
            p(class='alert' id='imageAlert')

            .row.col-12
                label(class="col-form-label col-sm-2") Product Type:
                div.col-sm-10.form-check(class="productType")
                    input(class="form-check-input" type="radio" name="productType" id="productTypeO" value="organic")
                    label(class="form-check-label checkLabel col-2" for="organic") Organic 
                    input(class="form-check-input" type="radio" name="productType" id="productTypeNO" value="nonOrganic")
                    label(class="form-check-label checkLabel" for="nonOrganic") Non Organic
            p(class="alert" id="pTypeAlert")

            .row.col-12
                label(for='unitPrice' class='col-sm-2 col-form-label') Unit Price (Ugx):
                input.col-md-10.form-control(type='number' name='unitPrice' placeholder='Please enter the unit price' required)
            p(class='alert' id='priceAlert')

            .row.col-12
                label(for='quantity' class='col-sm-2 col-form-label') Quantity (Kg):
                input.col-md-10.form-control(type='text' name='quantity' placeholder='Please enter the quantity available' required)
            p(class='alert' id='qtyAlert')

            .row.col-12
                label(for='productDate' class='col-sm-2 col-form-label') Date :
                input.col-md-10.form-control(type='date' name='productDate' required)
            p(class='alert' id='pDateAlert')

            .row.col-12
                label(class="col-form-label col-sm-2") Mode of Payment:
                div.col-sm-10.form-check(class="payment")
                    input(class="form-check-input" type="radio" name="payment" id="paymentC" value="cash")
                    label(class="form-check-label checkLabel col-2" for="cash") Cash 
                    input(class="form-check-input" type="radio" name="payment" id="paymentMM" value="mobileMoney")
                    label(class="form-check-label checkLabel" for="mobileMoney") Mobile Money
            p(class="alert" id="paymentAlert")

            .row.col-12
                label(class="col-form-label col-sm-2") Mode of Delivery:
                div.col-sm-10.form-check(class="delivery")
                    input(class="form-check-input" type="radio" name="delivery" id="deliveryPU" value="pickUp")
                    label(class="form-check-label checkLabel col-2" for="pickUp") Pick Up 
                    input(class="form-check-input" type="radio" name="delivery"  id="deliveryHD" value="homeDelivery")
                    label(class="form-check-label checkLabel" for="homeDelivery") Home Delivery
            p(class="alert" id="deliveryAlert")

            .row.col-12
                label(for='address' class='col-sm-2 col-form-label') Farm Address :
                textarea.col-md-10.form-control(name='address', cols='10', rows='5' type='text' placeholder='Please enter the directions to your Farm' required)
            p(class='alert' id='addyAlert')
            
            .row.col-12
                label(for='selectWard' class='col-sm-2 col-form-label') Urban Ward :
                select.col-md-10.form-control(name='selectWard' required)
                    option(selected='' value='default') Select your ward
                    option#ward1(value='ward 1') Urban Ward 1
                    option#ward2(value='ward 2') Urban Ward 2
                    option#ward3(value='ward 3') Urban Ward 3
                    option#ward4(value='ward 4') Urban Ward 4
                p(class='alert' id='wardAlert')

            .row.col-12
                label(for='status' class='col-sm-2 col-form-label') Status :
                select.col-md-10.form-control(name='status')
                    option(selected='' value='default') Select inspection status
                    option#pending(value='pending') Ready for Inspection
                p(class='alert' id='statusAlert')

            button(type='submit' class='btn btn-success btn-lg btn-block' name='submitForm' value='submit' onclick='validateProductForm()') Upload Product