extends layoutUF
block content
    h2 Welcome to the Urban Farmer Dashboard
    p You have access to the following functions:
    ol
        li Upload your produce & products onto the Ufarm online shop
        li View & update stock
        li Set mode of payment & delivery
        li View all incoming orders
    a(class='btn btn-outline-success btn-md col-7' href='/productForm') Get Started