.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8cc63f;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}
/* img {
  margin-left: 40px;
} */
.sidenav a {
  padding: 6px 8px 6px 20px;
  /* padding-left: 60px; */
  text-decoration: none;
  font-size: 22px;
  text-align: left;
  color: #000000;
  display: block;
}
.sidenav a:hover {
  color: #ffffff;
}
.main {
  margin-left: 250px;
  font-size: 18px;
  padding: 50px;
  margin-top: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.formTitle {
  color: #8cc63f;
  font-family: serif;
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.custom-file {
  margin-left: 20px;
}
label,
input,
select,
textarea {
  margin-bottom: 1px;
}
#btnStyle {
  margin-top: 30px;
  margin-left: 190px;
}
th {
  width: 200px;
  vertical-align: text-top;
}
.loginBox {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f6f6f6;
  text-align: center;
}
.alert {
  color: #ff1d1d;
  font-size: 10pt;
  margin: -5px;
  padding-bottom: -5px;
}
.row {
  padding: 0px;
  margin: 0px;
}
