#navColor {
  background-color: #8cc63f;
  /* display: flexbox; */
}
.nav-link {
  font-weight: bold;
  font-size: 15pt;
  color: #000000;
}
.nav-link:hover {
  color: #ffffff;
}
.greyBox {
  background-color: #e6e6e6;
  padding-top: 50px;
}
h5 {
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.btmText {
  color: black;
  text-align: center;
  margin-top: 30px;
}
form li {
  list-style: none;
  margin-bottom: 15px;
  /* float: center; */
}
.card-deck {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card {
  border-radius: 10px;
  border-width: 5px;
  border-color: #8cc63f;
}
.greenBox {
  background-color: #8cc63f;
  padding: 50px;
}
h3 {
  color: #ffffff;
  font-family: serif;
  font-size: 28pt;
  font-weight: bold;
  padding-bottom: 20px;
}
p {
  color: #ffffff;
  font-size: 16pt;
}
a {
  margin: auto;
}
.formTitle {
  color: #8cc63f;
  font-family: serif;
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
}
.productCard {
  border-radius: 10px;
  border-width: 1px;
  border-color: #a0a0a0;
}
h4 {
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.searchBar {
  margin-left: 450px;
  /* margin: auto;
  text-align: center;
  align-items: center;
  align-content: center; */
}
ul {
  list-style-type: none;
  text-align: center;
}
dt {
  text-align: right;
  margin-left: 10px;
  /* margin-right: -10px; */
  margin-top: 10px;
}
dd {
  text-align: left;
  margin-top: 10px;
}
li {
  border-bottom: 1px rgb(195, 195, 195) solid;
}
.orderBtn {
  margin: auto;
  padding: 5px;
}
.modal-body li {
  border: 0pt;
}
.modal-body dt {
  margin-right: 10px;
  margin-top: 0px;
}
.modal-body dd {
  margin-top: 0px;
}
.modal-header {
  height: 60px;
  border-bottom: 0px;
  vertical-align: inherit;
}
.modal-footer {
  border-style: none;
  margin-bottom: 20px;
}
#orderTitle {
  margin-bottom: 10px;
  margin: auto;
}
.modal-body p {
  color: #8cc63f;
  font-size: 14pt;
  text-align: center;
  margin-right: 20px;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 55px;
}
.input-container input {
  border-top-left-radius: 0pt;
  border-bottom-left-radius: 0pt;
}
.icon {
  padding: 10px;
  background: #8cc63f;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 3pt;
  border-bottom-left-radius: 3pt;
}
.dashboardLogin {
  margin-left: 50px;
  margin-bottom: 15px;
}
.form-check-label {
  margin-left: 5px;
}
.form-check-input {
  margin-left: 5px;
  margin-right: 10px;
}
form p {
  color: #ff1d1d;
  font-size: 10pt;
}
