#navColor {
  background-color: #8cc63f;
  /* display: flexbox; */
}
.nav-link {
  font-weight: bold;
  font-size: 15pt;
  color: #000000;
}
.nav-link:hover {
  color: #ffffff;
}
.greyBox {
  background-color: #e6e6e6;
  padding-top: 50px;
}
h5 {
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.btmText {
  color: black;
  text-align: center;
  margin-top: 30px;
}
form li {
  list-style: none;
  margin-bottom: 15px;
  /* float: center; */
}
.card-deck {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card {
  border-radius: 10px;
  border-width: 5px;
  border-color: #8cc63f;
}
.greenBox {
  background-color: #8cc63f;
  padding: 50px;
}
h3 {
  color: #ffffff;
  font-family: serif;
  font-size: 28pt;
  font-weight: bold;
  padding-bottom: 20px;
}
p {
  color: #ffffff;
  font-size: 16pt;
}
a {
  margin: auto;
}
.formTitle {
  color: #8cc63f;
  font-family: serif;
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
}
.productCard {
  border-radius: 10px;
  border-width: 1px;
  border-color: #a0a0a0;
}
h4 {
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.searchBar {
  margin-left: 450px;
  /* margin: auto;
  text-align: center;
  align-items: center;
  align-content: center; */
}
